pip~=23.3.2
attrs~=23.1.0
cryptography~=41.0.7
Pillow~=10.1.0
tornado~=6.4
Jinja2~=3.1.2
filelock~=3.13.1
setuptools~=69.0.2
typing_extensions~=4.9.0
packaging~=23.2
platformdirs~=4.0.0
bcrypt~=4.1.2
colorama~=0.4.6